# VS Code
.vscode

# Secrets
docker/secrets

# Certificate
docker/certs

# Node
node_modules/
srcs/backend/.env

# Build
dist/
build/
objs/
objs_wasm/

# Logs
npm-debug.log*

# Uploads
srcs/backend/uploads
