@import "./styles/tokens.css";
@import './index.css';
@import "./App.css";
@import "./components/Banner.css";
@import "./components/Footer.css";
@import "./components/Sidebar.css";
@import "./about/game-rules.css";
@import "./auth/login.css";
@import "./auth/register.css";
@import "./home/home.css";
@import "./friendship/friendList.css";
@import "./game/game.css";
@import "./profile/profile.css";
@import "./profile/update.css";

.page-container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.main-layout {
	display: flex;
	position: relative;
	flex: 1;
	align-items: stretch;
}

.content {
	flex: 1; /* takes remaining space */
	display: flex;
	flex-direction: column;
	margin-bottom: 0 !important;
	position: relative;
	z-index: 1;
}
